public-hoist-pattern[] = *
auto-install-peers = true
strict-peer-dependencies = false
prefer-workspace-packages = true
link-workspace-packages = true
hoist = true
shamefully-hoist = true
hoist-workspace-packages = true
package-manager-strict=false
